dist: xenial
language: python
os: linux

python:
- "3.6"

if: branch = travis-ci

before_install:
- build/ci/install-deps

install:
- build/ci/start-minikube
- build/ci/install-olm

jobs:
  include:
  - name: build-and-test
    script:
    - build/ci/build-dev
    - build/ci/test-dev
    - build/ci/release
    - build/ci/test
    - build/ci/install-argocd
