apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: argocd-catalog
  namespace: olm
spec:
  sourceType: grpc
  image: imac.fritz.box:5000/disposab1e/argocd-operator-helm-registry-k8s:0.0.6
  displayName: Argo CD Operators
  publisher: Argo CD